<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Variant6.css" />

  </head>

  <body class="flex-column">

    <div class="variant6 root">
      /*🚩10 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks adaptability.❗*/
      <div class="info">Отзывы</div>
      <div class="info1">Ваши благодарности</div>
      <div class="color"></div>
      <img class="image" src="/assets/cdceeda3afc527a05715eb33c453945a.svg" alt="alt text" />
      <img class="image1" src="/assets/f2e060c56b113ff59c7a488db32e1240.svg" alt="alt text" />
      <img class="image11" src="/assets/bd519dd0e1c22f079717ccbf60af75b8.svg" alt="alt text" />
      <img class="image3" src="/assets/249f1c0f9c5f2d6689786ce4ad36bc7d.png" alt="alt text" />
      <div class="info2">Екатерина Иванова</div>
      <div class="info3">Директор ООО “Раз-два”</div>
      <p class="desc">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной &quot;рыбой&quot; для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне.</p>
    </div>

  </body>

</html>
