<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Variant7.css" />

  </head>

  <body class="flex-column">

    <div class="variant7 root">
      /*🚩20 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks adaptability.❗*/
      <img class="image" src="/assets/55de3eb41fbbc673d10743cefb6c1558.png" alt="alt text" />
      <p class="desc">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной &quot;рыбой&quot; для текстов на латинице с начала XVI века.  стандартной &quot;рыбой&quot; для текстов на латинице с начала XVI века.</p>
      <div class="info">Подробнее о компании</div>
      <p class="desc1">
        Высокие стандарты
        <br />
        разработки
      </p>
      <div class="line"></div>
      <div class="info1">125</div>
      <div class="desc2">Our projects</div>
      <img class="image1" src="/assets/0270d83b34fe0597aba4902e743ccc9e.svg" alt="alt text" />
      <div class="info11">125</div>
      <div class="desc3">Our projects</div>
      <img class="image11" src="/assets/0270d83b34fe0597aba4902e743ccc9e.svg" alt="alt text" />
      <div class="info12">125</div>
      <div class="desc4">Our projects</div>
      <img class="image12" src="/assets/0270d83b34fe0597aba4902e743ccc9e.svg" alt="alt text" />
      <div class="info13">125</div>
      <div class="desc5">Our projects</div>
      <img class="image13" src="/assets/0270d83b34fe0597aba4902e743ccc9e.svg" alt="alt text" />
      <div class="info14">125</div>
      <div class="desc6">Our projects</div>
      <img class="image14" src="/assets/0270d83b34fe0597aba4902e743ccc9e.svg" alt="alt text" />
    </div>

  </body>

</html>
