<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Variant8.css" />

  </head>

  <body class="flex-column">

    <div class="variant8 root">
      /*🚩17 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks adaptability.❗*/
      <div class="color"></div>
      <div class="color1"></div>
      <div class="info">Все услуги</div>
      <p class="desc">
        Наши работы, на которых
        <br />
        мы специализируемся
      </p>
      <div class="line"></div>
      <img class="image" src="/assets/50256e5ab9351d5faffe1745c4d71630.png" alt="alt text" />
      <p class="desc1">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной &quot;рыбой&quot; для текстов на латинице с начала XVI века.</p>
      <div class="info1">Подробнее</div>
      <div class="info2_box">
        <span class="info2">
          <span class="info2_span0">01.</span>
          <span class="info2_span1"> Исследование и упаковка</span>
        </span>
      </div>
      <img class="image1" src="/assets/50256e5ab9351d5faffe1745c4d71630.png" alt="alt text" />
      <p class="desc11">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной &quot;рыбой&quot; для текстов на латинице с начала XVI века.</p>
      <div class="info11">Подробнее</div>
      <div class="info2_box1">
        <span class="info2">
          <span class="info2_span0">01.</span>
          <span class="info2_span1"> Исследование и упаковка</span>
        </span>
      </div>
      <img class="image2" src="/assets/50256e5ab9351d5faffe1745c4d71630.png" alt="alt text" />
      <p class="desc12">Lorem Ipsum - это текст-&quot;рыба&quot;, часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной &quot;рыбой&quot; для текстов на латинице с начала XVI века.</p>
      <div class="info12">Подробнее</div>
      <div class="info2_box2">
        <span class="info2">
          <span class="info2_span0">01.</span>
          <span class="info2_span1"> Исследование и упаковка</span>
        </span>
      </div>
    </div>

  </body>

</html>
