<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Variant13.css" />

  </head>

  <body class="flex-column">

    <div class="variant13 root">
      /*🚩26 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks adaptability.❗*/
      <div class="color"></div>
      <div class="color1"></div>
      <img class="cover" src="/assets/57f2cf8864474352df204de36fd31bfe.png" alt="alt text" />
      <div class="color2"></div>
      <div class="info">Косметология</div>
      <p class="desc">Лазерное и фотоомоложение</p>
      <img class="image" src="/assets/e69f2ffa64b445560206cbba43da3ad5.svg" alt="alt text" />
      <div class="color11"></div>
      <img class="cover1" src="/assets/87d7ac9feedf0ca73094d7acfb20d15a.png" alt="alt text" />
      <div class="color21"></div>
      <div class="info1">Косметология</div>
      <p class="desc1">Лазерное и фотоомоложение</p>
      <img class="image1" src="/assets/e69f2ffa64b445560206cbba43da3ad5.svg" alt="alt text" />
      <div class="color12"></div>
      <img class="cover2" src="/assets/4dbfdea2d24621cae903bc522520e161.png" alt="alt text" />
      <div class="color22"></div>
      <div class="info2">Косметология</div>
      <p class="desc2">Лазерное и фотоомоложение</p>
      <img class="image2" src="/assets/e69f2ffa64b445560206cbba43da3ad5.svg" alt="alt text" />
      <div class="color13"></div>
      <img class="cover3" src="/assets/e76ee2f12ac8eeccb30e9c03c25b6386.png" alt="alt text" />
      <div class="color23"></div>
      <div class="info3">Косметология</div>
      <p class="desc3">Лазерное и фотоомоложение</p>
      <img class="image3" src="/assets/e69f2ffa64b445560206cbba43da3ad5.svg" alt="alt text" />
      <div class="info11">Актуальные спецпредложения </div>
    </div>

  </body>

</html>
