<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Variant14.css" />

  </head>

  <body class="flex-column">

    <div class="variant14 root">
      /*🚩40 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks adaptability.❗*/
      <div class="info">Услуги</div>
      <div class="info1">Косметология</div>
      <div class="info11">Пластическая хирургия</div>
      <div class="info12">Стоматология</div>
      <div class="info13">Лазерная медицина</div>
      <div class="info2">Услуги</div>
      <div class="info14">Косметология</div>
      <div class="info15">Пластическая хирургия</div>
      <div class="info16">Стоматология</div>
      <div class="info17">Лазерная медицина</div>
      <div class="info3">Услуги</div>
      <div class="info18">Косметология</div>
      <div class="info19">Пластическая хирургия</div>
      <div class="info110">Стоматология</div>
      <div class="info111">Лазерная медицина</div>
      <div class="info4">Услуги</div>
      <div class="info112">Косметология</div>
      <div class="info113">Пластическая хирургия</div>
      <div class="info114">Стоматология</div>
      <div class="info115">Лазерная медицина</div>
      <div class="info5">Услуги</div>
      <div class="info116">Косметология</div>
      <div class="info117">Пластическая хирургия</div>
      <div class="info118">Стоматология</div>
      <div class="info119">Лазерная медицина</div>
      <div class="info6">Услуги</div>
      <div class="info120">Косметология</div>
      <div class="info121">Пластическая хирургия</div>
      <div class="info122">Стоматология</div>
      <div class="info123">Лазерная медицина</div>
      <div class="info7">+7 (812) 123-45-67</div>
      <div class="info8">Невский пр. 140, пом. 10</div>
      <div class="info9">Большой пр. 12</div>
      <div class="info21">телефон</div>
      <div class="info22">адрес</div>
      <div class="info23">адрес</div>
      <div class="color1"></div>
      <div class="info31">как проехать?</div>
      <div class="color11"></div>
      <div class="info32">как проехать?</div>
    </div>

  </body>

</html>
