<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

    <!-- Please DO NOT remove this line, all link and script tags will be merged to here -->

    <link rel="stylesheet" type="text/css" href="/css/common.css" />

    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />

    <link rel="stylesheet" type="text/css" href="/css/Variant9.css" />

  </head>

  <body class="flex-column">

    <div class="variant9 root">
      /*🚩36 Unstructured items require structuring to ensure responsiveness, as code with absolute positioning lacks adaptability.❗*/
      <img class="image" src="/assets/7e4690f40dd9e2b8e56e78877e7570f3.svg" alt="alt text" />
      <div class="info">test@test.ru</div>
      <div class="info1">+8 777 555 66 99</div>
      <div class="info2">Москва, Бульвар Ленина 33</div>
      <div class="info11">Контактная информация</div>
      <img class="image1" src="/assets/0ee1ac52297c4360e6e7d14adfca5a6e.svg" alt="alt text" />
      <img class="image2" src="/assets/90b3b293f365c24842a23ccd0cade34b.svg" alt="alt text" />
      <div class="info3">Главная</div>
      <div class="info4">Наши проекты</div>
      <div class="info5">Наши услуги</div>
      <div class="info6">Контакты</div>
      <div class="info12">Основные ссылки</div>
      <img class="image7" src="/assets/2bd8c9a139c6902f22b0cc113961c051.svg" alt="alt text" />
      <img class="image71" src="/assets/2bd8c9a139c6902f22b0cc113961c051.svg" alt="alt text" />
      <img class="image72" src="/assets/2bd8c9a139c6902f22b0cc113961c051.svg" alt="alt text" />
      <img class="image73" src="/assets/2bd8c9a139c6902f22b0cc113961c051.svg" alt="alt text" />
      <div class="info7">РосНано</div>
      <div class="info8">Сколково</div>
      <div class="info9">Проект “Восток”</div>
      <div class="info10">ТЭЦ Калининграда</div>
      <div class="info13">Наши проекты</div>
      <img class="image74" src="/assets/2bd8c9a139c6902f22b0cc113961c051.svg" alt="alt text" />
      <img class="image75" src="/assets/2bd8c9a139c6902f22b0cc113961c051.svg" alt="alt text" />
      <img class="image76" src="/assets/2bd8c9a139c6902f22b0cc113961c051.svg" alt="alt text" />
      <img class="image77" src="/assets/2bd8c9a139c6902f22b0cc113961c051.svg" alt="alt text" />
      <div class="info14">VK.com</div>
      <div class="info15">Instagram</div>
      <div class="info16">Facebook</div>
      <div class="info17">Twitter</div>
      <div class="info18">Социальные сети</div>
      <img class="image78" src="/assets/2bd8c9a139c6902f22b0cc113961c051.svg" alt="alt text" />
      <img class="image79" src="/assets/2bd8c9a139c6902f22b0cc113961c051.svg" alt="alt text" />
      <img class="image710" src="/assets/2bd8c9a139c6902f22b0cc113961c051.svg" alt="alt text" />
      <img class="image711" src="/assets/2bd8c9a139c6902f22b0cc113961c051.svg" alt="alt text" />
      <div class="line"></div>
      <div class="info21">(с) 2019. Все права защищены.</div>
    </div>

  </body>

</html>
